<div id="log">
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> This is the start!</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah. This is a very long line. This is a very long line. This is a very long line. This is a very long line. This is a very long line. This is a very long line. This is a very long line. This is a very long line. This is a very long line. </p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> Blah blah blah.</p>
  <p class="user utterance"><span class="name">Kranzky:</span> Blah blah blah.</p>
  <p class="mh10 utterance"><span class="name">MegaHAL:</span> This is the end!</p>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <input type="text" id="input" class="form-control" placeholder="Say something..." disabled="disabled">
  </div>
</nav>

<div class="modal fade" id="username" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="name">
          <input type="text" id="name" class="form-control" placeholder="Enter your name...">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    MegaHAL.init();
  });
</script>
