<h1>MegaHAL 9000</h1>

<%= turbo_frame_tag "chat" do %>
  <p>(silence)</p>
<% end %>

<%= turbo_frame_tag "user" do %>
  <p>What is your name, human?</p>
  <%= form_with url: chat_say_path do |form| %>
    <button type="submit" data-action="name#submit:once">Continue</button>
  <% end %>
<% end %>