<div class="flex flex-col h-screen w-screen overflow-hidden">
  <nav class="sticky top-0 bg-gray-700 p-3 drop-shadow">
    <h1 class="text-gray-300 text-2xl text-center">MegaHAL Logs</h1>
  </nav>

  <main class="bg-black h-screen overflow-y-scroll p-5 text-lg">
    <%= render partial: "file", collection: @files %>
    <%= render partial: "line", collection: @lines %>
  </main>
</div>