<turbo-stream action="append" target="messages">
  <template>
    <h3>MegaHAL: <%= @response %></h3>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="chat">
  <template>
    <%= form_with url: chat_say_path, data: { controller: "chat", action: "turbo:submit-start->chat#echo turbo:before-fetch-response->chat#enable" } do |form| %>
      <%= form.hidden_field :name, value: @name %>
      <%= form.text_field :message, placeholder: "Type a message!", class: "w-full" %>
    <% end %>
  </template>
</turbo-stream>
